<div class="comment">
  <%= comment.body %>
  <%= render :partial => "/shared/rating", :locals => { :object => comment } %>
</div>
<div class="actions">
  <%= link_to 'Borrar comentario', [comment.restaurant, comment],
               :confirm => 'Esta seguro?',
               :method => :delete %>
</div>
