.flash {
  text-align: center;
  padding: .3em .4em;
  margin: 0 auto .5em;
  clear: both;
  max-width: 46.923em;
  *max-width: 45.750em;
}

.flash.error, .flash.alert {
  border: thin solid #8b0000;
  background: #ffc0cb;
}

.flash.notice {
  border: thin solid #ff0;
  background: #ffe;
}

#user_nav {
  text-align: right;
}

