<%= link_to 'Nuevo Restaurant', new_restaurant_path %>

<% @restaurants.each do |restaurant| %>
  <div class="restaurant">
    <h3><%= link_to restaurant.name, restaurant %></h3>
    <p>
      <%= restaurant.description %>
    </p>
    <p>
      <%= render :partial => "/shared/rating", :locals => { :object => restaurant } %>
    </p>
  </div>
<% end %>
